{% extends 'base.html' %}

<!--title-->
{% block title %} tournament {% endblock %}

<!--extra css,js file-->
{% block page_head_extra %}
    <link rel="stylesheet" href="{{url_for('tournament.static' ,filename='css/tournament.css' )}}">
    <script src="{{url_for('tournament.static', filename='js/tournament.js')}}"></script>
{% endblock %}

<!--tohen-->
{% block tohen %}
    <!--specific tournament headline-->
    {% include 'headline.html' with context %}

    <!--calculated data-->
    <div class="container">
        <div class="detail">
            <h5>שולחנות שנוקדו</h5>
            <p>{{ ranked_tables.tables }}</p>
        </div>
        <div class="detail">
            <h5>מספר סבבים</h5>
            <p>{{ rounds.rounds }}</p>
        </div>
        <div class="detail">
            <h5>חניכים משתתפים</h5>
            <p>{{ players.players }}</p>
        </div>
    </div>

    <!--other pages-->
    <div class="container">
        <div class="card" onclick="location.href='/{{ tournament.id }}/judgment'">
            <h3>שיפוט</h3>
        </div>
        <div class="card" onclick="location.href='/{{ tournament.id }}/results'">
            <h3>תוצאות</h3>
        </div>
    </div>
{% endblock %}
