.card {
    display: inline-block;
    height: 250px;
    width: 250px;
    text-align: center;
}

.container {
  display: flex;
  justify-content: center;
}

.heading {
     display: inline-flex;
}
.button {
     display: inline;
     float: left;
}


