<!-- static links -->
<link rel="stylesheet" href="{{url_for('headline.static' ,filename='css/headline.css')}}">
<script src="{{url_for('headline.static', filename='js/headline.js')}}"></script>


<h1> דף ניהול טורניר {{ tournaments.name }}</h1>
<div class="details">
<p> תאריך: {{ tournaments.date }}</p>
<p> מיקום: {{ tournaments.location }}</p>
<p> סוג הטורניר: {{ tournaments.type }}</p>
<p> עונה: {{ tournaments.Season }}</p>
<p> פרטים נוספים: {{ tournaments.details }}</p>
</div>

<button><h2>חזרה לטורניר</h2></button>
