<!-- static links -->
<link rel="stylesheet" href="{{url_for('headline.static' ,filename='css/headline.css')}}">
<script src="{{url_for('headline.static', filename='js/headline.js')}}"></script>

<div style=" text-align: center;">
<h1 class="heading"> דף ניהול טורניר {{ tournament.name }}</h1>
{% if True %}
<button class="button" onclick="location.href='/tournament/{{ tournament.id }}'"><p><b>חזרה לטורניר</b></p></button>
{% endif %}
</div>

<div class="details">
<p> תאריך: {{ tournament.date }}</p>
<p> מיקום: {{ tournament.location }}</p>
<p> סוג הטורניר: {{ tournament.type }}</p>
<p> עונה: {{ tournament.Season }}</p>
<p> פרטים נוספים: {{ tournament.details }}</p>
</div>

<hr>
