{% extends 'base.html' %}

<!--title-->
{% block title %} main {% endblock %}

<!--extra css,js file-->
{% block page_head_extra %}
    <link rel="stylesheet" href="{{url_for('main.static' ,filename='css/main.css' )}}">
    <script src="{{url_for('main.static', filename='js/main.js')}}"></script>
{% endblock %}

<!--tohen-->
{% block tohen %}

    <div class="header">
    <h1>טורנירים</h1>
    <button onclick="location.href='/create_tournament'"><p><b>יצירת טורניר</b></p></button>
    </div>

    {% for tournament in tournaments %}
         <div class="card" onclick="location.href='tournament/{{ tournament.id }}'">
         <h3><b> טורניר</b> {{ tournament.name }}</h3>
         <p><b> תאריך:</b> {{ tournament.date }}</p>
         <p><b>מיקום:</b> {{ tournament.location }}</p>
         <p><b>סוג הטורניר:</b> {{ tournament.type }}</p>
         <p><b>עונה:</b> {{ tournament.Season }}</p>
         <p><b>פרטים נוספים:</b> {{ tournament.details }}</p>
        </div>
    {% endfor %}

{% endblock %}
