.details{
    padding: 5px;
    text-align: center;
}
 p{
     font-size: 17px;
 }

.heading {
     display: inline-flex;
}
.button {
     display: inline;
     float: left;
}

/*responsive web */
@media only screen and (max-width:900px) {

#back{
    position: static;
    display: inline-block;
    text-align: center;
    width:90%;
}

}
