.details{
    padding: 5px;
    text-align: center;
}

p{
    font-size: 17px;
}

.header {
    text-align: center;
}

.header h1 {
    display: inline-block;
}

.header button {
    display: inline-block;
    position: absolute;
    left: 7%;
    margin-top: 1%;
    width: 15%;
}

/*responsive web */
@media only screen and (max-width:900px) {

.header button{
    position: static;
    display: inline-block;
    text-align: center;
    width:90%;
}
}
