{% extends 'base.html' %}

<!--title-->
{% block title %} create_tournament {% endblock %}

<!--extra css,js file-->
{% block page_head_extra %}
    <link rel="stylesheet" href="{{url_for('create_tournament.static' ,filename='css/create_tournament.css')}}">
    <script src="{{url_for('create_tournament.static', filename='js/create_tournament.js')}}"></script>
{% endblock %}

<!--tohen-->
{% block tohen %}
    {% if tournament %}
        <!--specific tournament headline-->
        {% include 'headline.html' with context %}
        <h4>הכנס פרטים חדשים בשדות שתרצה לעדכן</h4>
        <form action="/tournament/{{ tournament.id }}/update_tournament_route" method="post">
    {% else %}
        <h2>יצירת טורניר</h2>
        <form action="/create_tournament_route" method="post">
    {% endif %}
        <div class="col">
            <label class='label' for="name"> שם הטורניר:</label><br>
            <input type="text" class="field" name="name" placeholder="שם הטורניר" {% if not tournament %}required{% endif %}><br>
        </div>
        <div class="col">
            <label class='label' for="date"> תאריך:</label><br>
            <input type="date" class="field" name="date" placeholder="תאריך" {% if not tournament %}required{% endif %}><br>

            <label for="location"> מיקום:</label><br>
            <input type="text" class="field" name="location" placeholder="מיקום" {% if not tournament %}required{% endif %}><br>
        </div>
        <div class="col">
            <label for="type"> סוג הטורניר:</label><br>
            <select name="type">
            <option value="אזורי">אזורי</option>
            <option value="ארצי">ארצי</option>
            </select>

            <label for="Season">עונה:</label><br>
            <select name="Season">
            <option value="אמצע">אמצע</option>
            <option value="סוף">סוף</option>
            </select>
        </div>
        <div class="upper">
            <label for="details">פרטים נוספים:</label><br>
            <input type="text" class="field" name="details" placeholder="פרטים" {% if not tournament %}required{% endif %}>
        </div>
        <div class="submit">
        {% if tournament %}
            <input type="submit" value="עדכן">
        {% else %}
            <input type="submit" value="צור טורניר">
        {% endif %}
        </div>
{% endblock %}
