{% extends 'base.html' %}

<!--title-->
{% block title %} Create_Staff {% endblock %}

<!--extra css,js file-->
{% block page_head_extra %}
    <link rel="stylesheet" href="{{url_for('Create_Staff.static' ,filename='css/Create_Staff.css')}}">
    <script src="{{url_for('Create_Staff.static', filename='js/Create_Staff.js')}}"></script>
{% endblock %}

<!--tohen-->
{% block tohen %}
    <h3>יצירת איש צוות</h3>
    <form action="/Create_Staff/insert_staff" method="post">
        <div class="upper">
            <label class='label' for="staffName"> שם פרטי:</label><br>
            <input type="text" class="field" name="staffName" placeholder="שם פרטי" required><br>

            <label for="staffLastName"> שם משפחה:</label><br>
            <input type="text" class="field" name="staffLastName" placeholder="שם משפחה" required><br>
        </div>
        <div class="upper">
            <label for="signIn_Email"> דוא"ל:</label><br>
            <input type="email" class="field" name="staffEmail" placeholder="כתובת דואר אלקטרוני" required=""><br>

            <label for="staffPhone">מספר טלפון:</label><br>
            <input type="tel" class="field" name="staffPhone" pattern="[0][5][0-9]{8}" placeholder="********05" required>
        </div>
        <div class="upper">
            <label for="staffRole">תפקיד:</label><br>
            <input type="text" class="field" name="staffRole" placeholder="תפקיד" required>

            <label for="staffPassword"> סיסמא:</label><br>
            <input type="password" class="field" name="staffPassword" placeholder="סיסמא" required><br>
        </div>
        <div class="submit">
            <input type="submit" value="צור איש צוות">
        </div>
    </form>

    {% for message in get_flashed_messages() %}
        <h4 class="alert-change">{{ message }}</h4>
    {% endfor %}
{% endblock %}
