{% extends 'base.html' %}

<!--title-->
{% block title %} צוות {% endblock %}

<!--extra css,js file-->
{% block page_head_extra %}
    <link rel="stylesheet" href="{{url_for('staff.static' ,filename='css/staff.css')}}">
    <script src="{{url_for('staff.static', filename='js/staff.js')}}"></script>
{#    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">#}
{% endblock %}

<!--tohen-->
{% block tohen %}
    {% for message in get_flashed_messages() %}
        <h4 class="alert-change">{{ message }}</h4>
    {% endfor %}
    <h3 style="text-align: center"> אנשי צוות</h3>
    <div>
        <table id="StaffTable">
        <tr>
             <th> אימייל </th>
             <th>שם פרטי ומשפחה</th>
             <th>טלפון</th>
             <th>תפקיד</th>
             <th>סיסמא</th>

        </tr>
        {% for staff in staff_table %}
        <tr>
            <td> {{ staff.email }} </td>
            <td> {{ staff.name }}</td>
            <td> {{ staff.phone }} </td>
            <td> {{ staff.role }} </td>
            <td> {{ staff.password }} </td>
            <td>
{#              <a href="{{url_for('staff.delete_staff_func', staff_email= staff.email)}}"> Delete</a>#}
                <button id="removeButton" class="select" onclick="location.href='/staff/delete_staff/{{ staff.email }}'")>מחק</button>
            </td>
        </tr>
        {% endfor %}
        </table>
    </div>
    <div class="container">
        <div class="card" onclick="location.href='/Create_Staff'">
            צור איש צוות חדש
        </div>
    </div>

    <h3 style="text-align: center">עידכון פרטי איש צוות</h3>
    <p style="text-align: center">הכנס/י פרטים בשדות שתרצה/י לעדכן:</p>
    <form action="/staff/update_staff" method="post">
        <div class="upper">
            <label for="signIn_Email"> דוא"ל:</label><br>
            <input type="email" class="field" name="staffEmail" placeholder="כתובת דואר אלקטרוני" required=""><br>

            <label class='label' for="staffName"> שם פרטי:</label><br>
            <input type="text" class="field" name="staffName" placeholder="שם פרטי" ><br>
        </div>
        <div class="upper">
            <label for="staffLastName"> שם משפחה:</label><br>
            <input type="text" class="field" name="staffLastName" placeholder="שם משפחה" ><br>

            <label for="staffPhone">מספר טלפון:</label><br>
            <input type="tel" class="field" name="staffPhone" pattern="[0][5][0-9]{8}" placeholder="********05" >        </div>
        <div class="upper">
            <label for="staffRole">תפקיד:</label><br>
            <input type="text" class="field" name="staffRole" placeholder="תפקיד" >

            <label for="staffPassword"> סיסמא:</label><br>
            <input type="password" class="field" name="staffPassword" placeholder="סיסמא" ><br>
        </div>
        <div class="submit">
            <input type="submit" value="עדכן">
        </div>
    </form>

{% endblock %}
