{% extends 'base.html' %}

<!--title-->
{% block title %} Players {% endblock %}

<!--extra css,js file-->
{% block page_head_extra %}
    <link rel="stylesheet" href="{{url_for('Players.static' ,filename='css/Players.css')}}">
    <script src="{{url_for('Players.static', filename='js/Players.js')}}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

<!--tohen-->
{% block tohen %}
    <h3 style="text-align: center"> אנשי צוות</h3>
    <div>
        <table id="PlayersTable">
        <tr>
             <th> אימייל </th>
             <th>שם פרטי ומשפחה</th>
             <th>טלפון</th>
             <th>תפקיד</th>
             <th>סיסמא</th>

        </tr>
        {% for Players in Players_table %}
        <tr>
            <td> {{ Players.email }} </td>
            <td> {{ Players.name }}</td>
            <td> {{ Players.phone }} </td>
            <td> {{ Players.role }} </td>
            <td> {{ Players.password }} </td>
            <td>
{#              <a href="{{url_for('Players.delete_Players_func', Players_email= Players.email)}}"> Delete</a>#}
                <button id="removeButton" class="select" onclick="location.href='/Players/delete_Players/{{ Players.email }}'")>מחק</button>
            </td>
        </tr>
        {% endfor %}
        </table>
    </div>

    {% for message in get_flashed_messages() %}
        <h4 class="alert-change">{{ message }}</h4>
    {% endfor %}


{% endblock %}
