{% extends 'base.html' %}

<!--title-->
{% block title %} שיפוט {% endblock %}

<!--extra css,js file-->
{% block page_head_extra %}
    <link rel="stylesheet" href="{{url_for('judgment.static' ,filename='css/judgment.css')}}">
    <script src="{{url_for('judgment.static', filename='js/judgment.js')}}"></script>
{% endblock %}

<!--tohen-->
{% block tohen %}
    <!--specific tournament headline-->
    {% include 'headline.html' with context %}

    <h3>ניקוד משחק</h3>

    <form action="/tournament/{{ tournament.id }}/judgment/insert_score" method="post">

    <div class="upper">
        <label for="Round">סבב</label>
        <input type="text" name="Round" placeholder="סבב" required>
        <label for="desk">מספר שולחן</label>
        <input type="text" name="desk" placeholder="מספר שולחן" required>
    </div>
    <div class="col">
        <label for="id_player2">מס שחקן 2</label>
        <input type="text" name="id_player2" placeholder="מספר שחקן" required>
    </div>
    <div class="col">
        <label for="score">ניקוד</label> <br>
        <select name="score">
            <option value="draw">0.5 | 0.5</option>
            <option value="player1_won">1 | 0</option>
            <option value="player2_won">0 | 1</option>
        </select>
    </div>
    <div class="col">
        <label for="id_player1">מס שחקן 1</label>
        <input type="text" name="id_player1" placeholder="מספר שחקן" required>
    </div>
    <div class="submit">
        <input type="submit" value="שלח">
    </div>
    </form>
    {% for message in get_flashed_messages() %}
        <h4 class="alert-change">{{ message }}</h4>
    {% endfor %}

    <hr>

    <h3>טבלת תוצאות</h3>

    <div>
        <table id="ResultsTable">
        <tr>
             <th> סבב </th>
             <th>מספר שולחן</th>
             <th>מספר שחקן 1</th>
             <th>מספר שחקן 2</th>
             <th>ניקוד שחקן 1</th>
             <th>ניקוד שחקן 2</th>
            <th></th>
        </tr>

        {% for row in scores %}
        <tr>
            <td> {{ row.Round }} </td>
            <td> {{ row.desk }} </td>
            <td> {{ row.id_player1 }}</td>
            <td> {{ row.id_player2 }}</td>
            <td> {{ row.score_player1 }} </td>
            <td> {{ row.score_player2 }} </td>
            <td>
                <form action="/tournament/{{ tournament.id }}/judgment/delete_score" method="post" style="display: inline">
                    <input type="hidden" name="Round" value="{{ row.Round }}">
                    <input type="hidden" name="desk" value="{{ row.desk }}">
                    <input id="delete" type="submit" value="מחק">
                </form>
            </td>
        </tr>
        {% endfor %}
        </table>
    </div>

{% endblock %}
